.main{
  padding-top: 150px;
  font-family: Montserrat alternates, Roboto;
  padding-bottom: inherit;
  margin-left: 40px;
  margin-right: 40px
  
}

.page-1, .page-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.text{

  /* box-shadow: 5px 5px 5px gray; */
  background-color: rgb(245, 245, 245);
  padding: 15px 0px 15px 20px;
  border-radius: 8px;
}

.text-box-1{
  width: 90%;
  font-size: 106.25%;
  font-weight: 500;
  margin-top: 20px;
  line-height: 25px;
  color: rgb(109, 109, 110)
}


.miner-pic{
  flex: 1;
  margin-left: 100px;
}

.miner-pic2{
  margin-right: 120px;
}

.pic{
  width: 100%;
  border-radius: 20px;
  rotate: z -7deg;
  box-shadow: 3px 2px 2px gray;
}

.page-2{
  margin-top: 100px;
}

@media(max-width: 825px) {

  .page-1, .page-2{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .page-2{
    margin-top: 20px;
  }

  .text{
    
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .pic{
    rotate: z 0deg;
  }

  .miner-pic2{
    margin-right: 0;
    margin-left: 100px;
  }
}


@media(max-width: 600px){

  .main{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    margin-left:0 ;
    margin-right: 0;
    padding-top: 80px;
  }

  body{
    padding-left: 30px;
  }

  /* .pic{
    width: 100%;
  }

  .text{
    width: 100%;
  } */

  .miner-pic{
    margin: 10px;
  }

  .miner-pic2{
    margin: 10px;
  } 
}